/* import rules */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Shafarik&display=swap');

*{
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body,html{
    height: 100%;
    padding: 0px;
    margin: 0;
}
body{
    background-color: rgb(255, 255, 255);
}
#extra-space{
    height: 100vh;
}

#transistion-to-main{
    padding: 0px;
    height: 10%;
    width: 100vw;
    background: linear-gradient(white,rgb(0, 0, 29));
    background-position: center bottom;
    margin: 0;
    padding: 0;
}

#maindiv{
    padding: 10px;
    background-color: black;
    min-height: 25%;
    width: 100vw;
    margin: 0;
    color: rgb(255, 255, 255);
    *{
        margin: 0;
        padding-left: 3px;
        padding-right: 3px;
    }
    h1{
        text-align: center;
        font-size: 50px;
    }
    a {
        color: rgb(207, 207, 207) !important;
    }    
    p{
        font-size: 17px;
    }
}
small{
    font-size: 10px;
    color: rgb(131, 131, 131);
}