*{
    color: white;
}
body{
    background-color: rgb(26, 26, 26);
}
#modal{
    background-color: rgb(39, 39, 39);
    text-align: center;
    width: 65%;
    margin: auto;
    border: 3px solid black;
    border-radius: 5px;
}
small{
    color: darkgrey;
}
h1{
    font-size: 120px;
}